<p id="notice"><%= notice %></p>

<p>
  <b>Grid:</b>
  <%= @time_table.name %>
</p>

<p>
  <b>Professor:</b>
  <%= @time_table.professor %>
</p>

<p>
  <b>Start date:</b>
  <%= @time_table.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @time_table.end_date %>
</p>


<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Back', time_tables_path %>

