<%= form_for(@student) do |f| %>

  <%= error_messages_for @student %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :document %>
    <%= f.text_field :document %>
  </div>
  <div class="field">
    <%= f.label :registration %>
    <%= f.text_field :registration %>
  </div>

  <br /><hr><br />

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
	  <%= f.label :username %>
	  <%= f.text_field :username %>
  </div>
  <div class="field">
	  <%= f.label :password %>
	  <%= f.password_field :password %>
  </div>

  <br /><hr><br />

  <div class="field">
  	<% f.fields_for :addresses do |builder| %>
	  	<%= render :partial => '/partials/address_fields', :locals => { :f => builder }  %>
  	<% end %>
  </div>

  <br /><hr><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

