<% title 'Students' %>

<% content_for :main do %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>CPF</th>
      <th>RG</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <td><%= student.document %></td>
      <td><%= student.registration %></td>
      <td><%= link_to 'Mostar', student %></td>
      <td><%= link_to 'Alterar', edit_student_path(student) %></td>
      <td><%= link_to 'Remover', student, :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% content_for :slidebar do %>
  <%= link_to new_student_path, :class => 'big button' do %>
    <span class="plus icon"></span>New Student
  <% end %>
<% end %>

