<% title 'Aluno : ' + @student.name %>

<% content_for :main do %>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Nome:</b>
    <%= @student.first_name %>
  </p>

  <p>
    <b>Sobrenome:</b>
    <%= @student.last_name %>
  </p>

  <p>
    <b>CPF:</b>
    <%= @student.document %>
  </p>

  <p>
    <b>RG:</b>
    <%= @student.registration %>
  </p>


  <%= link_to 'Alterar', edit_student_path(@student) %> |
  <%= link_to 'Voltar', students_path %>
<% end %>

