<div class="field">
  <%= f.label :zip_code %><br />
  <%= f.text_field :zip_code %>
</div>
<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :number %><br />
	<%= f.text_field :number %>
</div>
<div class="field">
	<%= f.label :complement %><br />
	<%= f.text_field :complement %>
</div>
<div class="field">
	<%= f.label :neighborhood %><br />
	<%= f.text_field :neighborhood %>
</div>
<div class="field">
	<%= f.label :city %><br />
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :state %><br />
	<%= f.text_field :state %>
</div>

