<div class="field">
  <%= f.label :zip_code %>
  <%= f.text_field :zip_code %>
</div>
<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :number %>
	<%= f.text_field :number %>
</div>
<div class="field">
	<%= f.label :complement %>
	<%= f.text_field :complement %>
</div>
<div class="field">
	<%= f.label :neighborhood %>
	<%= f.text_field :neighborhood %>
</div>
<div class="field">
	<%= f.label :city %>
	<%= f.text_field :city %>
</div>
<div class="field">
	<%= f.label :state %>
	<%= f.text_field :state %>
</div>

