<%= form_for(@matter) do |f| %>
  <% if @matter.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', :count=>@matter.errors.size, :model=> t('activerecord.models.matter')) %>:</h2>

      <!-- <h2><%= pluralize(@matter.errors.count, "error") %> prohibited this matter from being saved:</h2> -->

      <ul>
      <% @matter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :quantity_lessons %>
    <%= f.text_field :quantity_lessons %>
  </div>

  <br /><hr><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

