<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @matter.name %>
</p>

<p>
  <b>Descrição:</b>
  <%= @matter.description %>
</p>

<p>
  <b>Quantidade de aulas:</b>
  <%= @matter.quantity_lessons %>
</p>


<%= link_to 'Alterar', edit_matter_path(@matter) %> |
<%= link_to 'Voltar', matters_path %>

