<%= form_for(@registration) do |f| %>

  <%= error_messages_for @registration %>

  <div class="field">
    <%= f.label :course_id %><br />
    <%= f.collection_select(:course_id, Course.order(:name), :id, :name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.collection_select(:student_id, Student.order(:first_name), :id, :name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

