<%= form_for(@lesson) do |f| %>

  <%= error_messages_for @lesson %>

  <div class="field">
    <%= f.label :expedient_time_table_id %><br />
    <%= f.text_field :expedient_time_table_id %>
  </div>
  <div class="field">
    <%= f.label :date_lesson %><br />
    <%= f.date_select :date_lesson %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :quantity_lessons %><br />
    <%= f.text_field :quantity_lessons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

