<h1>Listing courses</h1>

<% @courses.each do |course| %>
  <%= link_to course.name, course %><br />
    <%= course.description %><br />
    <%= course.steps %> <%= course.category_name %> - <%= course.grids.count %> Disciplinas <br />

<% end %>
<br />

<%= link_to 'New Course', new_course_path %>

