<% title 'Courses' %>

<% content_for :main do %>
  <% @courses.each do |course| %>

    <%= link_to course.name, course %><br />
    <%= course.description %><br />
    Coordenador <%= course.employee.name %> - <%= course.steps %> <%= course.category_name %> - <%= course.grids.count %> Disciplinas <br />
    <%= course.registrations.count %> Alunos Matriculados <br /><br />
  <% end %>
  <br />
<% end %>

<% content_for :slidebar do %>
  <%= link_to new_course_path, :class => 'big button' do %>
    <span class="plus icon"></span>New Course
  <% end %>
<% end %>

