<% title 'Course : ' + @course.name %>

<% content_for :main do %>

  <p>
    <b>Name:</b>
    <%= @course.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @course.description %>
  </p>

  <p>
    <b>Category:</b>
    <%= @course.category_name %>
  </p>

  <p>
    <b>Steps:</b>
    <%= @course.steps %>
  </p>

  <p>
    <% for grid in @course.grids %>

      <b>Matter</b> <%= grid.matter.name %> - <b>Step:</b> <%= grid.step %> <br />

      <% if grid.time_table %>

        <%= grid.time_table.start_date %> à <%= grid.time_table.end_date %> - Prof <%= grid.time_table.employee.name %> <br />

        <% for expedient_time_table in grid.time_table.expedient_time_tables %>

          <%= expedient_time_table.expedient.name %><br />
        <% end %>

        <% if grid.generate_lesson %>
          <small>Aulas Geradas</small>
        <% else %>
          <%= link_to 'Edit Time Table', {:controller => :time_tables, :action => :edit, :id => grid.time_table} %> |
          <%= link_to 'Generate Lessons', {:action => :generate_lessons, :grid => grid, :id => @course} %>
        <% end %>
        <br />
      <% else %>
          <%= link_to 'Add Time Table', {:controller => :time_tables, :action => :new, :grid => grid} %><br />
      <% end %>
      <br />


    <% end %>
  </p>

  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Remover', @course, :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to 'Back', courses_path %>
<% end %>

