<%= form_for(@expedient) do |f| %>

  <%= error_messages_for @expedient %>

  <div class="field">
    <%= f.label :day %>
   	<%= f.select :day, [ ["Segunda-Feira", "1"], ["Terça-Feira", "2"], ["Quarta-Feira", "3"], ["Quinta-Feira", "4"], ["Sexta-Feira", "5"], ["Sábado", "6"], ["Domingo", "7"] ] %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :quantity_lessons %>
    <%= f.text_field :quantity_lessons %>
  </div>

  <br /><hr><br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

