<%= form_for(@expedient) do |f| %>
  <% if @expedient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expedient.errors.count, "error") %> prohibited this expedient from being saved:</h2>

      <ul>
      <% @expedient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br />
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :quantity_lessons %><br />
    <%= f.text_field :quantity_lessons %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
