<% title 'Expedientes' %>

<% content_for :main do %>
  <table>
    <tr>
      <th>Dia da semana</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Número de aulas</th>
    </tr>

  <% @expedients.each do |expedient| %>
    <tr>
      <td><%= link_to expedient.day, expedient %></td>
      <td><%= expedient.start_time %></td>
      <td><%= expedient.end_time %></td>
      <td><%= expedient.quantity_lessons %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% content_for :slidebar do %>
  <%= link_to new_expedient_path, :class => 'big button' do %>
    <span class="plus icon"></span>Novo Expediente
  <% end %>
<% end %>

