<% title 'Expediente' %>

<% content_for :main do %>

  <p>
    <b>Dia da semana:</b>
    <%= @expedient.day %>
  </p>

  <p>
    <b>Início:</b>
    <%= @expedient.start_time %>
  </p>

  <p>
    <b>Fim:</b>
    <%= @expedient.end_time %>
  </p>

  <p>
    <b>Número de Aulas:</b>
    <%= @expedient.quantity_lessons %>
  </p>


  <%= link_to 'Alterar', edit_expedient_path(@expedient) %> |
  <%= link_to 'Remover', @expedient, :confirm => 'Tem certeza?', :method => :delete %> |
  <%= link_to 'Voltar',  expedients_path %>
<% end %>

