<% title 'Expedient' %>

<% content_for :main do %>

  <p>
    <b>Day:</b>
    <%= @expedient.day %>
  </p>

  <p>
    <b>Start time:</b>
    <%= @expedient.start_time %>
  </p>

  <p>
    <b>End time:</b>
    <%= @expedient.end_time %>
  </p>

  <p>
    <b>Quantity lessons:</b>
    <%= @expedient.quantity_lessons %>
  </p>


  <%= link_to 'Edit', edit_expedient_path(@expedient) %> |
  <%= link_to 'Back', expedients_path %>
<% end %>

