<!DOCTYPE html>
<html>
<head>
  <title>Pensino</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


<div id="header">
  <div id="app">
    <div id="logo">
      FATEC Jundiaí
    </div>
    <div id="welcome">
      Olá coordenador Paulo Schiavon |
      Preferências |
      <%= link_to t(:english), '/en' %> |
      <%= link_to t(:portuguese), '/pt-BR' %> |
      Sair
    </div>
  </div>
</div>

<div id="navigation">
  <div id="app">
    <%= link_to 'Courses', courses_path %> |
    <%= link_to 'Matters', matters_path %> |
    <%= link_to 'Employees', employees_path %> |
    <%= link_to 'Students', students_path %> |
    <%= link_to 'Expedients', expedients_path %> |
    <%= link_to 'Time Tables', time_tables_path %> |
  </div>
</div>

<div id="wrapper">
  <div id="app">

    <div id="content">
      <%= yield %>
    </div>
  </div>
</div>

<div id="footer">
  <div id="app">

  </div>
</div>







</body>
</html>

